[submodule "InfiniTAM"]
	path = InfiniTAM
	url = git@github.com:victorprad/InfiniTAM.git
[submodule "ethz-asl/roscpp-nodewrap"]
	path = ethz-asl/roscpp-nodewrap
	url = git@github.com:ethz-asl/roscpp-nodewrap.git
[submodule "ethz-asl/grid_map"]
	path = ethz-asl/grid_map
	url = git@github.com:ethz-asl/grid_map.git
[submodule "ethz-asl/lab-infrastructure"]
	path = ethz-asl/lab-infrastructure
	url = git@github.com:ethz-asl/lab-infrastructure.git
[submodule "ethz-asl/elevation_mapping"]
	path = ethz-asl/elevation_mapping
	url = git@github.com:ethz-asl/elevation_mapping.git
[submodule "ethz-asl/okvis_ros"]
	path = ethz-asl/okvis_ros
	url = git@github.com:ethz-asl/okvis_ros.git
[submodule "ethz-asl/ethzasl_msf"]
	path = ethz-asl/ethzasl_msf
	url = git@github.com:ethz-asl/ethzasl_msf.git
[submodule "ethz-asl/rovio"]
	path = ethz-asl/rovio
	url = git@github.com:ethz-asl/rovio.git
[submodule "ethz-asl/okvis"]
	path = ethz-asl/okvis
	url = git@github.com:ethz-asl/okvis.git
[submodule "ethz-asl/asl-student-templates"]
	path = ethz-asl/asl-student-templates
	url = git@github.com:ethz-asl/asl-student-templates.git
[submodule "ethz-asl/ethzasl_ptam"]
	path = ethz-asl/ethzasl_ptam
	url = git@github.com:ethz-asl/ethzasl_ptam.git
[submodule "ethz-asl/opengv.git"]
	path = ethz-asl/opengv.git
	url = git@github.com:ethz-asl/opengv.git
[submodule "ethz-asl/ros_best_practices"]
	path = ethz-asl/ros_best_practices
	url = git@github.com:ethz-asl/ros_best_practices.git
[submodule "ScaViSLAM"]
	path = ScaViSLAM
	url = git@github.com:strasdat/ScaViSLAM.git
[submodule "Kintinuous"]
	path = Kintinuous
	url = git@github.com:mp3guy/Kintinuous.git
[submodule "ElasticFusion"]
	path = ElasticFusion
	url = git@github.com:mp3guy/ElasticFusion.git
        branch = master
[submodule "ros-perception/openslam_gmapping"]
	path = ros-perception/openslam_gmapping
	url = git@github.com:ros-perception/openslam_gmapping.git
[submodule "Sophus"]
	path = Sophus
	url = git@github.com:strasdat/Sophus.git
[submodule "eigen"]
	path = eigen
	url = git@github.com:RLovelett/eigen.git
[submodule "introlab/rtabmap_ros"]
	path = introlab/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "introlab/rtabmap"]
	path = introlab/rtabmap
	url = https://github.com/introlab/rtabmap.git
[submodule "dorian3d/DBoW2"]
	path = dorian3d/DBoW2
	url = https://github.com/dorian3d/DBoW2.git
[submodule "dorian3d/DLoopDetector"]
	path = dorian3d/DLoopDetector
	url = https://github.com/dorian3d/DLoopDetector.git
[submodule "dorian3d/DLib"]
	path = dorian3d/DLib
	url = https://github.com/dorian3d/DLib.git
[submodule "OpenSeqSLAM"]
	path = OpenSeqSLAM
	url = https://github.com/subokita/OpenSeqSLAM.git
[submodule "uzh-rpg/rpg_vikit"]
	path = uzh-rpg/rpg_vikit
	url = https://github.com/uzh-rpg/rpg_vikit.git
[submodule "uzh-rpg/rpg_svo"]
	path = uzh-rpg/rpg_svo
	url = https://github.com/uzh-rpg/rpg_svo.git
[submodule "mrpt"]
	path = mrpt
	url = https://github.com/MRPT/mrpt.git
[submodule "Itseez/opencv"]
	path = Itseez/opencv
	url = https://github.com/Itseez/opencv.git
[submodule "Itseez/opencv_contrib"]
	path = Itseez/opencv_contrib
	url = https://github.com/Itseez/opencv_contrib.git
[submodule "Itseez/opencv_extra"]
	path = Itseez/opencv_extra
	url = https://github.com/Itseez/opencv_extra.git
[submodule "tum-vision/dvo_slam"]
    path = tum-vision/dvo_slam
    url = https://github.com/tum-vision/dvo_slam.git
	jade-devel = jade-devel
[submodule "tum-vision/fastfusion"]
    path = tum-vision/fastfusion
    url = https://github.com/tum-vision/fastfusion.git
[submodule "tum-vision/kfusion_ros"]
    path = tum-vision/kfusion_ros
    url = https://github.com/tum-vision/kfusion_ros.git
[submodule "tum-vision/rgbd_demo"]
    path = tum-vision/rgbd_demo
    url = https://github.com/tum-vision/rgbd_demo.git
[submodule "ros-perception/slam_gmapping"]
	path = ros-perception/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
	branch = hydro-devel
[submodule "folly"]
	path = folly
	url = https://github.com/facebook/folly.git
[submodule "raulmur/ORB_SLAM"]
	path = raulmur/ORB_SLAM
	url = https://github.com/raulmur/ORB_SLAM.git
[submodule "raulmur/ORB_SLAM2"]
	path = raulmur/ORB_SLAM2
	url = https://github.com/raulmur/ORB_SLAM2.git
